.friendList {
    margin: 30px auto;
    display: flex;
    gap: 10px;
    justify-content: center;
    list-style-type: none;
}

.friendItem {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}
