* {
    padding: 0;
    margin: 0;
}

.profile-window {
    border: 2px solid black;
    border-radius: 15px;
    background-color: #fff;
    overflow: hidden;
    width: 300px;
}

.user-main {
    padding: 10px 0px;
}

.avatar {
    width: 200px;
    background-color: #242424;
    border-radius: 50%;
}

.user-name {
    color: black;
    font-size: 24px;
    font-weight: bold;
    margin-top: 5px;
}

.user-info {
    color: #808080;
    font-size: 20px;
}

.profile-info-list {
    display: flex;
    justify-content: space-evenly;
}

.profile-info-item {
    display: flex;
    flex-direction: column;
    border-top: 2px solid #808080;
    border-left: 2px solid #808080;
    width: calc(100% / 3);
    padding: 10px;
    background-color: #d3d3d3;
}

.profile-info-item:first-child {
    border-left: none;
}

.profile-info-title,
.profile-info-data {
    color: black;
    font-size: 18px;
}

.profile-info-data {
    font-weight: bold;
}
