.transData {
    margin: 15px auto;
    width: 500px;
    table-layout: fixed;
    border-collapse: collapse;
    font-size: 12px;
}

.header {
    background-color: #2a2a2a;
    color: #ffffff;
}

.row:nth-child(even) {
    background-color: #d3d3d3;
}

.header,
.column {
    border: 1px solid #000000;
    padding: 3px;
}

.column:not(:nth-child(n + 2)) {
    text-align: left;
    padding-left: 10%;
}
